html, body {
  height:100%;
  margin:0;
  box-sizing:border-box;
}

body {
    font-family:Helvetica, Arial, sans-serif;
}

.background-gradient {
    background: radial-gradient(125% 125% at 50% 5%, #fff 40%, #6366f1 100%);
    position: absolute;
    z-index: 0;
    inset: 0;
    overflow: auto;
}

.wrapper {
  min-height:100%;
  display:flex;
  flex-direction:column;
}

.site-header {
    background-color:white;
    position:sticky;
    top:0;
    z-index:9999;
    box-shadow:0 2px 20px rgba(0,0,0,.1);
}

.container {
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.logo {
    display:flex;
    margin-left:30px;
}

.main-nav {
    display:flex;
    gap:20px;
    margin-right:50px;
    color:rgb(106, 78, 162);
}

.main-nav a:hover {
    text-decoration:underline;
    text-transform:uppercase;
    color:#8eeca9;
}

main {
  flex:1; /* takes up available space */
}

body {
  overflow: auto;            /* permite scroll */
  scrollbar-width: none;     /* Firefox */
}

body::-webkit-scrollbar {     /* Chrome, Edge, Safari */
  display: none;
}


/* Home Page */

.main-home {
    margin-top:50px;
}

.secao-hover {
    margin-top:50px;
    position:relative;
    display:inline-block;
}

.hover-img {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transform: translateY(20px) scale(0.9);
    margin-top: 10px;
    transition: opacity 0.4s ease-out, transform 0.4s ease-out;
}

.secao-hover:hover .hover-img {
    max-height: 700px;
    opacity: 1;
    transform: translateY(0) scale(1);
}

.hero {
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    gap:25px;
}

h1 {
    font-size:60px;
    text-align:center;
    margin-bottom:0px;
}

.par1 {
    font-size:20px;
    text-align:center;
    margin:0px;
}

.btn1 {
  background-color:rgb(106, 78, 162);
  color:white;
  font-size:16px;
  padding:10px 15px;
  margin:0px;
  border:none;
  border-radius:6px;
  cursor:pointer;
  transition:0.3s ease; /* suaviza o hover */
}

.btn1:hover {
  background-color:#8eeca9;
  transform: scale(1.05); /* cresce um pouco */
  text-decoration:underline;
}


/* About Page */

.main-about {
    margin-top:50px;
}

.about {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.about ul {
    text-align:center;
    line-height:20px;
    list-style:none;
    padding:0;
}

.par2 {
    max-width:600px;
}


/* Work Page */

.main-work {
    margin-top:50px;
}

.work {
    display:flex;
    flex-direction:column;
}

.featured-work {
    display:flex;
    justify-content:center;
}

.work-list {
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    gap:50px;
    text-align:center;
}

.article {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.par3 {
    display:flex;
    justify-content:center;
    max-width:350px;
    color:#5e5e5e;
}

.macbook {
    margin-left:25px;
}

.iphone13 {
    margin-left:45px;
}


/* Contact Page */

.main-contact {
    margin-top:50px;
    text-align:center;
}

.contact-form {
    display:flex;
    align-items:center;
    justify-items:center;
    flex-direction:column;
    gap:10px;
    margin-top:40px;
}

.contact-form input,.contact-form textarea {
    width:300px;
    padding:8px;
    border:2px solid #ddd;
    border-radius:6px;
}

.email-contact {
    margin-top:40px;
}

.email-contact a:hover {
    text-decoration:underline;
    text-transform:uppercase;
}

.btn2 {
  background-color:rgb(106, 78, 162);
  color:white;
  font-size:16px;
  padding:10px 15px;
  border:none;
  border-radius:6px;
  cursor:pointer;
  transition:0.3s ease; /* suaviza o hover */
}

.btn2:hover {
  background-color:#8eeca9;
  transform: scale(1.05); /* cresce um pouco */
  text-decoration:underline;
}


/* Footer */

.site-footer {
    margin-top:100px;
    padding:20px;
    text-align:center;
}

.site-footer a:hover {
    text-decoration:underline;
    text-transform:uppercase;
    color: white;
}

.socials {
    display:flex;
    padding-bottom:20px;
    gap:20px;
    align-items:center;
    justify-content:center;
}


/* General Links */

a {
  color:inherit;
  text-decoration:none;
}

a:visited {
  color:inherit;
}